# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Go to Google and setup the oauth configuration
# https://next-auth.js.org/providers/google#configuration
# https://console.developers.google.com/apis/credentials

GOOGLE_ID=
GOOGLE_SECRET=

# In Google add these values:
# Homepage URL: http://localhost:3000
# Authorization callback URL: http://localhost:3000/api/auth/callback/google