# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = XXX
AUTH_TRUST_HOST=XXX
NEXTAUTH_SECRET=XXX
NEXT_PUBLIC_VERCEL_URL=XXX

# Go to Google and setup the oauth configuration
# https://next-auth.js.org/providers/google#configuration
# https://console.developers.google.com/apis/credentials

GOOGLE_ID=XXX
GOOGLE_SECRET=xxxxx

# In Google add these values:
# Homepage URL: http://localhost:3000
# Authorization callback URL: http://localhost:3000/api/auth/callback/google

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers

# GITHUB_ID = XXX
# GITHUB_SECRET = XXX

# In github add these values
# Homepage URL : http://localhost:3000
# Authorization callback URL : http://localhost:3000/api/auth/callback/github