{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Power Grid API",
    "version": "1.0.0",
    "description": "OpenAI-compatible, Anthropic-compatible, media generation, worker status, and account endpoints for the AI Power Grid. Generation jobs are dispatched to Grid workers and settled from the Grid ledger."
  },
  "servers": [
    {
      "url": "https://api.aipowergrid.io",
      "description": "Production Grid API"
    }
  ],
  "tags": [
    {
      "name": "Generation",
      "description": "Text, image, video, and passthrough inference endpoints."
    },
    {
      "name": "Discovery",
      "description": "Live model, worker, style, and progress discovery."
    },
    {
      "name": "Stats",
      "description": "Ledger-backed usage, den, and earnings data."
    },
    {
      "name": "Account",
      "description": "Wallet login, payout wallet, and API key management."
    },
    {
      "name": "System",
      "description": "Health and operational endpoints."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "The Grid API process is alive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": ["Generation"],
        "summary": "Create an OpenAI-compatible chat completion",
        "description": "Dispatches a chat request to a compatible text worker. Streaming requests return server-sent events in OpenAI chat format. If a media model is selected, the Grid can return image or video URLs inside the assistant message.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "model": "Meta-Llama-3.1-8B-Instruct",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write a two sentence launch note for AI Power Grid."
                      }
                    ],
                    "stream": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A chat completion object or an SSE stream when stream is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "tags": ["Generation"],
        "summary": "Create an OpenAI Responses API result",
        "description": "Raw passthrough to workers that natively expose the OpenAI Responses API. The Grid does not translate this payload.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model"],
                "additionalProperties": true,
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "input": {
                    "description": "Responses API input payload.",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {}
                      }
                    ]
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Worker-native Responses API output or SSE events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "tags": ["Generation"],
        "summary": "Create an Anthropic-compatible message",
        "description": "Raw passthrough to workers that natively expose the Anthropic Messages API. Use x-api-key, Authorization: Bearer, or the Grid API key header depending on the client.",
        "security": [
          {
            "anthropicApiKey": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Worker-native Anthropic response or SSE events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "tags": ["Generation"],
        "summary": "Generate images",
        "description": "OpenAI-style image generation backed by Grid media workers. Workers upload results directly to storage and the API returns URLs or base64 output.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              },
              "examples": {
                "txt2img": {
                  "value": {
                    "model": "flux-schnell",
                    "prompt": "A neon-lit decentralized datacenter, cinematic",
                    "size": "1024x1024",
                    "n": 1,
                    "response_format": "url"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image results plus Grid provenance metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/generations": {
      "post": {
        "tags": ["Generation"],
        "summary": "Generate videos",
        "description": "Grid-native text-to-video or image-to-video generation using the same OpenAI-style response envelope as image generation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated video results plus Grid provenance metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": ["Discovery"],
        "summary": "List OpenAI-compatible models",
        "security": [],
        "responses": {
          "200": {
            "description": "Models currently known to the Grid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{model_id}": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Get model metadata",
        "security": [],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/styles": {
      "get": {
        "tags": ["Discovery"],
        "summary": "List creative styles",
        "security": [],
        "description": "Returns curated prompt, LoRA, and parameter presets that generation endpoints can apply with the style field.",
        "parameters": [
          {
            "name": "job_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["image", "video"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available styles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "styles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/status/models": {
      "get": {
        "tags": ["Discovery"],
        "summary": "List live model availability",
        "security": [],
        "description": "Returns models currently served by connected workers, including worker count and recent ledger-backed performance.",
        "responses": {
          "200": {
            "description": "Live model status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workers": {
      "get": {
        "tags": ["Discovery"],
        "summary": "List connected workers",
        "security": [],
        "description": "Returns the live Redis-backed worker registry.",
        "responses": {
          "200": {
            "description": "Connected workers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/progress/{token}": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Get generation progress",
        "security": [],
        "description": "Poll a client-supplied progress_token while a media generation request is in flight.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest progress, or null before the first worker update.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "progress": {
                      "type": ["integer", "null"],
                      "minimum": 0,
                      "maximum": 100
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats/totals": {
      "get": {
        "tags": ["Stats"],
        "summary": "Get job and den totals",
        "security": [],
        "description": "Totals are aggregated from the same ledger used for settlement.",
        "responses": {
          "200": {
            "description": "Totals by period and job type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "$ref": "#/components/schemas/StatsBucket"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats/models": {
      "get": {
        "tags": ["Stats"],
        "summary": "Get per-model stats",
        "security": [],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["minute", "hour", "day", "month", "total"],
              "default": "month"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-model usage and performance for the selected period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelStatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallets/{address}/earnings": {
      "get": {
        "tags": ["Stats"],
        "summary": "Get wallet earnings",
        "security": [],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger-derived earnings for a payout wallet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletEarnings"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/wallet/nonce": {
      "post": {
        "tags": ["Account"],
        "summary": "Create a wallet-login nonce",
        "security": [],
        "responses": {
          "200": {
            "description": "A short-lived nonce for SIWE-style wallet verification.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nonce": {
                      "type": "string"
                    }
                  },
                  "required": ["nonce"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/wallet/verify": {
      "post": {
        "tags": ["Account"],
        "summary": "Verify wallet signature and issue an API key",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account metadata and a newly issued API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletVerifyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": ["Account"],
        "summary": "Get current account",
        "description": "Requires an active v2 Grid account key.",
        "responses": {
          "200": {
            "description": "Current account, payout wallet, and manageable key prefixes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/account/payout-wallet": {
      "post": {
        "tags": ["Account"],
        "summary": "Set payout wallet",
        "description": "Sets or clears the Base address that receives worker earnings for this account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "wallet": {
                    "type": ["string", "null"],
                    "description": "Base/EVM address, or null/empty string to clear."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated payout wallet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payout_wallet": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/keys": {
      "post": {
        "tags": ["Account"],
        "summary": "Issue an API key",
        "description": "Creates a new account API key. The secret is returned once.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "label": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["api_key"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/keys/{key_id}": {
      "delete": {
        "tags": ["Account"],
        "summary": "Revoke an API key",
        "description": "Revokes a key by its 12-character hash prefix from GET /v1/account.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revocation result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Grid API key in the Authorization header."
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Grid API key in the apikey header."
      },
      "anthropicApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Anthropic-compatible API key header."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The key is valid but cannot perform this action.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "detail": {
            "description": "Error message or provider-shaped error payload."
          },
          "error": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "developer", "user", "assistant", "tool"]
          },
          "content": {
            "description": "Plain text or multimodal content parts.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "temperature": {
            "type": "number"
          },
          "max_tokens": {
            "type": "integer"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "const": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usage": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AnthropicMessagesRequest": {
        "type": "object",
        "required": ["model", "messages", "max_tokens"],
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "max_tokens": {
            "type": "integer"
          },
          "stream": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": ["prompt"],
        "additionalProperties": true,
        "properties": {
          "prompt": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1
          },
          "size": {
            "type": "string",
            "default": "1024x1024"
          },
          "image": {
            "type": "string",
            "description": "Optional inline base64/data URI source image for image-to-image."
          },
          "loras": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "style": {
            "type": "string"
          },
          "worker": {
            "type": "string",
            "description": "Optional owned worker name for soft affinity."
          },
          "progress_token": {
            "type": "string"
          },
          "response_format": {
            "type": "string",
            "enum": ["url", "b64_json"],
            "default": "url"
          }
        }
      },
      "VideoGenerationRequest": {
        "type": "object",
        "required": ["prompt"],
        "additionalProperties": true,
        "properties": {
          "prompt": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 2,
            "default": 1
          },
          "size": {
            "type": "string",
            "default": "768x512"
          },
          "seconds": {
            "type": "number",
            "minimum": 1,
            "maximum": 10,
            "default": 4
          },
          "fps": {
            "type": "integer",
            "minimum": 8,
            "maximum": 30,
            "default": 24
          },
          "image": {
            "type": "string",
            "description": "Optional inline base64/data URI start frame for image-to-video."
          },
          "style": {
            "type": "string"
          },
          "progress_token": {
            "type": "string"
          },
          "response_format": {
            "type": "string",
            "enum": ["url", "b64_json"],
            "default": "url"
          }
        }
      },
      "MediaGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "b64_json": {
                  "type": "string"
                },
                "seed": {
                  "type": "integer"
                },
                "revised_prompt": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          },
          "grid": {
            "type": "object",
            "description": "Grid provenance and timing metadata.",
            "additionalProperties": true
          }
        },
        "required": ["created", "data"]
      },
      "Model": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "default": "model"
          },
          "owned_by": {
            "type": "string",
            "default": "ai-power-grid"
          }
        }
      },
      "ModelList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "default": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "ModelStatus": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": ["text", "image", "video"]
          },
          "max_context_length": {
            "type": ["integer", "null"]
          },
          "samples": {
            "type": "integer"
          },
          "tokens_per_s": {
            "type": ["number", "null"]
          },
          "avg_ttft_s": {
            "type": ["number", "null"]
          },
          "avg_latency_s": {
            "type": ["number", "null"]
          }
        }
      },
      "WorkerList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "workers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Worker"
            }
          }
        }
      },
      "Worker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "job_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "online": {
            "type": "boolean"
          }
        }
      },
      "StatsBucket": {
        "type": "object",
        "properties": {
          "jobs": {
            "type": "integer"
          },
          "den": {
            "type": "number"
          },
          "units": {
            "type": "integer"
          }
        }
      },
      "ModelStatsResponse": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string"
          },
          "models": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ModelStatus"
                },
                {
                  "type": "object",
                  "properties": {
                    "jobs": {
                      "type": "integer"
                    },
                    "den": {
                      "type": "number"
                    },
                    "units": {
                      "type": "integer"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "WalletEarnings": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "address": {
            "type": "string"
          },
          "total": {
            "$ref": "#/components/schemas/StatsBucket"
          },
          "last24h": {
            "$ref": "#/components/schemas/StatsBucket"
          },
          "recent": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "WalletVerifyRequest": {
        "type": "object",
        "required": ["address", "message", "signature"],
        "properties": {
          "address": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "WalletVerifyResponse": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "wallet": {
            "type": "string"
          },
          "username": {
            "type": ["string", "null"]
          },
          "api_key": {
            "type": "string"
          },
          "created": {
            "type": "boolean"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "wallet": {
            "type": ["string", "null"]
          },
          "payout_wallet": {
            "type": "string"
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountKey"
            }
          }
        }
      },
      "AccountKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "12-character hash prefix."
          },
          "label": {
            "type": ["string", "null"]
          },
          "created": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "last_used": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "revoked": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
